<div class="main-container">
  <mat-drawer-container class="cv-container">
    <mat-drawer mode="side" opened>
      <img mat-card-image src="../assets/images/profile_photo.jpg" alt="Photo">
      <mat-card class="education">
        <mat-card-header>
          <mat-card-title>EDUCATION</mat-card-title>
          <mat-card-subtitle>
            <h3>Master's in Applied Mathematics Degree</h3>
            <p>Rivne State Humanitarian University<br>
               2009-2014
            </p>
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="phone">
        <mat-card-header>
          <mat-card-title>Phone / Viber / Telegram</mat-card-title>
          <mat-card-subtitle>+380974886469</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-card class="email">
        <mat-card-header>
          <mat-card-title>Email</mat-card-title>
          <mat-card-subtitle>kateryna.oliinyk.dev@gmail.com</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </mat-drawer>
    <mat-drawer-content>
      <mat-card class="position">
        <mat-card-header>
          <mat-card-title><span>KATERYNA</span> OLIINYK</mat-card-title>
          <mat-card-subtitle>SOFTWARE ENGINEER</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-tab-group>
        <mat-tab label="Professional Summary">
          <mat-card class="about">
            <mat-card-header>
              <mat-card-title>PROFESSIONAL SUMMARY</mat-card-title>
              <mat-card-subtitle>
                More 5 years of experience in developing User interfaces for Mobile/Tablet/Desktop using HTML, CSS, JQuery, bootstrap.<br>
                Extensive knowledge in developing website using CMS like Drupal, Wordpress.<br>
                Knowledge in developing applications in a single page(SPAs) using JavaScript framework like Angular.<br>
                Experience in working with RESTFUL Web Services and implementing RESTFUL API's.<br>
                Experience in Database Technologies including RDMBS like MySQL.<br>
                Experience in front-end tooling workflows Node.js(NPM).<br>
                Excellent experience in GitHub, Bitbucket.<br>
                Responsible for checking Cross Browser Compatibility
                of different elements and tags hence worked on different browsers like Internet Explorer, Google Chrome, Firefox, Opera and Safari.
                Expertise in using IDE's like WebStorm and Visual Studio.<br>
                Excellent interpersonal abilities, team skills with an intention to work hard to meet project deadlines.
             </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-tab>
        <mat-tab label="Software Skills">
          <mat-card class="skills">
            <mat-card-header>
              <mat-card-title>SOFTWARE SKILLS</mat-card-title>
              <mat-card-subtitle>
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Web Technologies:</span>HTML, CSS, Bootstrap, AJAX, JQuery, JSON</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>JS Frameworks: </span>Angular 2+, Node.js</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Programming Languages: </span> php, JavaScript, TypeScript</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>CMS: </span> Drupal, Wordpress</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Operating Systems: </span> Windows, Linux</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Databases: </span> MySQL</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Version Control System: </span> GIT</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>IDE: </span> Visual Studio Code, WebStorm</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Web Services: </span>GitHub, Bitbucket</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Local Web Servers: </span>Open Server, XAMPP</p>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <p><mat-icon>crop_square</mat-icon><span>Others: </span>Angular Material, Google Maps API, Facebook API, Acuity Scheduling API,<br>
                     GetResponse API, Trello, Asana, JIRA </p>
                  </mat-list-item>
                </mat-list>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-tab>
        <mat-tab label="Work Experience">
          <mat-card class="experience">
            <mat-card-header>
              <mat-card-title>WORK EXPERIENCE</mat-card-title>
              <mat-card-subtitle>
                <div class="flex-container">
                  <div class="col30">Present</div>
                  <div class="col70">
                    <h4>Project:</h4>
                    <p class="title">Create website Consult.</p>
                    <p>Designed application using HTML, CSS, JavaScript, JSON and Node.js with MYSQL. </p>
                    <p>Using Angular Forms, Validations, models, controllers and HTTP Requests.</p>
                    <p>Created Typescript reusable components and services to consume REST API's using Component-based architecture provided by Angular 15.
                      Used JSON for data transfer between front end and back end, used SQL Queries to interact with MYSQL database.
                    </p>
                    <p>Sending email with Nodemailer using Gmail account in Node.js.</p>
                    <p>Used Firebug for debugging and for element styling. Worked on GIT and source tree a version control.</p>
                    <p><span>Git repository:</span> https://github.com/KaterynaOliinykDev/consult</p>
                    <p><span>Environment:</span> Angular, Angular CLI, TypeScript, RxJS, Angular Material, Routing, Reactive Forms, REST API's, Nodemailer, Node.js, MYSQL,JSON, html, css, git. </p>
                  </div>
                </div>
                <div class="flex-container">
                  <div class="col30">
                    01.2014 - 01.2021
                    <p>Drupal Developer</p>
                    <span>SoftGroup</span>
                  </div>
                  <div class="col70">
                    <h4>Projects:</h4>
                    <ul>
                      <li>
                        <p class="title">Transfer http://www.pop-newsletter.com functional site to the new site.</p>
                        <p>I've accomplished the following. I investigated the functional site, I optimized the old code and moved it to the new site.</p>
                        <p><span>App store link:</span> http://www.pop-newsletter.com</p>
                        <p><span>Environment:</span> PHP,html, css, MySQL.</p>
                      </li>
                      <li>
                        <p class="title">Export Drupal Posts into WordPress Website.</p>
                          <p>Transfer content categories from site sba-list.org in the news site design4.org.</p>
                          <p><span>App store link:</span> http://design4.org</p>
                          <p><span>Environment:</span> PHP,html, css,CMS Drupal, CMS Wordpress.</p>
                      </li>
                      <li>
                        <p class="title">Move WP website to another domain / SEO installation.</p>
                        <p>Transferring the site http://test.manuelkaufmann.de to a new domain
                        http://www.manuelkaufmann.de. Installation and Setup module All in one Seo Pack.</p>
                        <p><span>App store link:</span> http://www.manuelkaufmann.de</p>
                        <p><span>Environment:</span> CMS Wordpress.</p>
                      </li>
                      <li>
                        <p class="title">Optimization site Japanese Video cast.com, optymization photo, Javascripts.</p>
                        <p>Optimization of the site to Drupal 7. Using the module Minify to optimize js and css.</p>
                        <p><span>App store link:</span> http://japanesevideocast.com/</p>
                        <p><span>Environment:</span> CMS Drupal.</p>
                      </li>
                      <li>
                          <p class="title">Redesign website Birdlife.org.<p>
                            <p>Update your site design. Installing and configuring modules. Adding new functionality.</p>
                            <p><span>App store link:</span> http://birdlife.org</p>
                            <p><span>Environment:</span> CMS Drupal 7, php, html, css, jquery, mysql.</p>
                      </li>
                      <li>
                        <p class="title">Fixes on websites Drupal 7-8.</p>
                        <p>Amendments in the website template.</p>
                        <p><span>App store links:</span> http://vergelijkenkoop.nl/d8/woonverzekeringen/,
                        http://vergelijkenkoop.nl/d8/huisdierenverzekeringen/</p>
                        <p><span>Environment:</span> CMS Drupal 7-8, css, jquery.</p>
                      </li>
                      <li>
                        <p class="title">Redesign website.</p>
                        <p>Updating site design. Adding new functionality.</p>
                        <p><span>App store link:</span> https://cubscartel.com</p>
                        <p><span>Environment:</span> PHP,html, css, CMS Wordpress.</p>
                      </li>
                      <li>
                        <p class="title">Fixes on website.</p>
                        <p>Create new pages. Update content and design website.</p>
                        <p><span>App store link:</span> https://zoogvpn.com</p>
                        <p><span>Environment:</span> PHP,html, css</p>
                      </li>
                      <li>
                        <p class="title">Fixes on website.</p>
                        <p>Update content and design website. Adding new functionality.<p>
                        <p><span>App store link:</span> https://prp-therapy.com</p>
                        <p><span>Environment:</span> PHP,html, css, CMS Wordpress.</p>
                      </li>
                      <li>
                        <p class="title">Redesign website.</p>
                        <p>Update your site design. Installing and configuring modules. Adding new functionality.</p>
                        <p><span>App store link:</span> https://www.idonowidont.com</p>
                        <p><span>Environment:</span> CMS Drupal 7, php, html, css, jquery, mysql.</p>
                      </li>
                      <li>
                        <p class="title">Create website.</p>
                        <p>Installing CMS Drupal 7. Creating theme for website. Installing and configuring modules.
                          Installing module Drupal Commerce.
                          Creating subscriptions (api GetResponse, api Acuity Scheduling).</p>
                        <p><span>App store link:</span> https://www.tradingeducators.education</p>
                        <p><span>Environment:</span> CMS Drupal 7,Drupal Commerce, html, css, php, jquery, mysql, bootstrap, api
                          Acuity Scheduling, api GetResponse.</p>
                      </li>
                      <li>
                        <p class="title">Create website Camfida on Drupal 8.</p>
                        <p>Installing CMS Drupal 8.
                          Creating theme for website.
                          Installing and configuring modules.
                          Creating modules for Drupal 8.
                          Creating subscriptions (api GetResponse, api Acuity Scheduling).</p>
                        <p><span>App store link:</span> https://www.camfida.com</p>
                        <p><span>Environment:</span> CMS Drupal 8, html, css, php, jquery, mysql, bootstrap, api Acuity Scheduling, api
                          GetResponse.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

